<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title">
        <div><span>Información de contacto</span></div>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">
          
            <div class="col-sm-4">
                <div class="info-item d-flex">
                    <i class="fas fa-map-marker-alt flex-shrink-0"></i>
                    <div>
                        <h3>Dirección</h3>
                        <p>Entrada norte C.C. Managua 1 cuadra arriba 1/2 cuadra al sur.</p>
                    </div>
                </div><!-- End Info Item -->
            </div>
          
            <div class="col-sm-4">
                <div class="info-item d-flex">
                    <i class="fas fa-phone flex-shrink-0"></i>
                    <div>
                        <h3>Teléfono</h3>
                        <p>2270-5587</p>
                    </div>
                </div><!-- End Info Item -->
            </div>
          
            <div class="col-sm-4">
                <div class="info-item d-flex">
                    <i class="fas fa-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Email</h3>
                        <p>info@cblibertad.com</p>
                    </div>
                </div><!-- End Info Item -->
            </div>
          
        </div>
        
    </div>
</section>
<!-- /Contact Section -->