    <!-- Details Section -->
    <section id="details" class="details section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Sobre nosotros</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row my-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center">
            <img src="assets/img/details-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>Misión</h3>
            <p class="fst-italic">
              El Colegio Bautista Libertad mediante la práctica de los valores fundamentados en la enseñanza bíblica garantiza a la niñez, adolescencia y juventud
              el desarrollo personal, mediante un proceso educativo de calidad y equidad mediante el compromiso de contribuir a la sostenibilidad de la nación.
            </p>
            <ul>
              <li><i class="fa fa-check"></i><span> Promovemos el pensamiento critico.</span></li>
              <li><i class="fa fa-check"></i> <span>Las bases cientificas.</span></li>
              <li><i class="fa fa-check"></i> <span>La exelencia.</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->


        <div class="row my-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center">
            <img src="assets/img/details-2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Visión</h3>
            <p class="fst-italic">
              Contribuir con la educación brindando a nuestros jóvenes y comunidad una preparación cientifica  y de calidad, ética y espiritual; 
              como agentes de cambio para el desarrollo sostenibles en armonia con el medio ambiente, que impulse el aprendizaje permanente 
              para vivir una cultura de paz y de justicia social.
            </p>
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Details Section -->