<!-- Hero Section -->
<section id="hero" class="hero section dark-background">
    <img src="assets/img/hero-bg-2.jpg" alt="" class="hero-bg">
    
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-lg-4 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
                <img src="img/cbl_logo.png" class="img-fluid animated" alt="">
            </div>

            <div class="col-lg-6  d-flex flex-column justify-content-center" data-aos="fade-in">
                <h1>Educando a las futuras generaciones con <span>Amor</span></h1>
                <p>Somos un ministerio de la Iglesia Bautista Libertad</p>
            </div>

        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
    </svg>
    
</section><!-- /Hero Section -->