@page "/secretary/grades/configuration/{GradeId}/{EnrollmentNumber}"
@inherits ConfigureGrade;


@if (NumberEnrollment > 0 && Grade != null)
{
    <div class="card show mb-4">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                @foreach (var item in Grade.Enrollments)
                {
                    counter++;
                    <li class="nav-item">
                        <a class="nav-link @(counter == 1 ? "active" : "")" id="panel-@item.EnrollmentId" href="#card-@item.EnrollmentId" data-toggle="tab" role="tab" aria-controls="card-@item.EnrollmentId" aria-selected="@(counter == 1 ? "true" : "false")">
                            @item.Label
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="card-body" id="tabContent">
            <div class="tab-content">
                @foreach (var item in Grade.Enrollments)
                {
                    counter2++;
                    <div class="tab-pane fade @(counter2 == 1 ? "show active" : "")" id="card-@item.EnrollmentId" role="tabpanel" aria-labelledby="panel-@item.EnrollmentId">
                        <div class="row">
                            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                                <div class="card">
                                    <div class="card-body">
                                        <label style="display: inline-block; width: 200px;">Nombre:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="item.Label">

                                        <label style="display: inline-block; width: 200px;">Maestro Guia:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px">

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                                <div class="card">
                                    <div class="card-body">

                                        <label style="display: inline-block; width: 200px;">A침o Lectivo:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="item.SchoolYear">

                                        <label style="display: inline-block; width: 200px;">Capacidad:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="item.Capacity">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                                <div class="card">
                                    <div class="card-body">
                                        <label style="display: inline-block; width: 200px;">Codigo:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="item.Modality">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
  
    
<link rel="stylesheet" href="/css/Academy/AcademyProfiles.css">
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Detalles de la matricula</h6>
        <a href="#" class="btn btn-success btn-sm" role="button">Editar</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                <div class="card">
                    <div class="card-body">
                        <label style="display: inline-block; width: 200px;">Nombre:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px" >

                        <label style="display: inline-block; width: 200px;">Maestro Guia:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                <div class="card">
                    <div class="card-body">

                        <label style="display: inline-block; width: 200px;">A침o Lectivo:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px">

                        <label style="display: inline-block; width: 200px;">Capacidad:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                <div class="card">
                    <div class="card-body">
                        <label style="display: inline-block; width: 200px;">Codigo:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card" style="margin-bottom: 15px">
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Sexo</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Sexo</th>
                                <th>Estado</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <h1>HI</h1>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card" style="margin-bottom: 15px">
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripci칩n</th>
                                <th>Modalidad</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripci칩n</th>
                                <th>Modalidad</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <h1>h2</h1>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!-- Inicializamos datatable -->
<script src="/js/demo/datatables-demo.js" defer></script>    
    
    
    
}
else
{
    <div class="loader"></div>
}





