@page "/secretary/update-profile-picture/{StudentId}"
@attribute [Authorize(Roles = "admin,secretary")]
@using wsmcbl.src.View.Components

@if (!IsLoading)
{
    <PhotoView Student="Student"/>
}
else
{
    <div class="loader"></div>
}