@page "/secretary/degrees/{degreeId}/enrollments/"

@attribute [Authorize(Roles = "admin,secretary")]
@inherits BaseView;

@if (IsLoading())
{
    <div class="loader"></div>
}
else
{
    <div class="modal-body">
        Content
    </div>
}

