<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Matrícula por grados</h6>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <canvas id="myDegreeChart"></canvas>
        </div>
        <hr>
        La suma de todos suman:
        <code>@CurrentDistribution.total</code>
    </div>
</div>