<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Distribución</h6>
    </div>
    <div class="card-body">
        <div class="chart-container"> <!-- Cambiado de chart-pie a chart-container -->
            <canvas id="incomePieChart"></canvas>
        </div>
        <div class="mt-4 text-center small">
            <span class="mr-2">
                <i class="fas fa-circle text-success"></i> Ingresos correspondiente a este mes. 
            </span>
            <span class="mr-2">
                <i class="fas fa-circle text-danger"></i> Otros Ingresos 
            </span>
        </div>
    </div>
</div>