@page "/academy/tariff-profiles/new"


<link rel="stylesheet" href="/css/Academy/NewAcademyProfile.css">


<div class="card shadow mb-4">

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <h5>Nuevo Estudiante</h5>
        </ul>
    </div> @* End of card-header *@

    <div class="card-body" id="tabContent">
        <div class="tab-content ">
            <div class="tab-pane fade show active" id="studenData" role="tabpanel" aria-labelledby="studenInfo">

                @* Start of Info Student Data *@
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="info">Primer Nombre:</div>
                                                        <div class="info">Segundo Nombre:</div>
                                                        <div class="info">Primer Apellido:</div>
                                                        <div class="info">Segundo Apellido:</div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input id="studenName1" type="text" class="form-control p1"
                                                            placeholder="Adam">
                                                        <input id="studenName2" type="text" class="form-control p1"
                                                            placeholder="Andres">
                                                        <input id="studentApellido1" type="text" class="form-control p1"
                                                            placeholder="Martin">
                                                        <input id="studentApellido2" type="text" class="form-control p1"
                                                            placeholder="Rojas">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-sm-6 container">
                                                        <div class="info">Tutor:</div>
                                                    </div>
                                                    <div class="col-sm-6 container">
                                                        <input id="sex" type="text" class="form-control p1"
                                                        placeholder="Adam">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6 container">
                                                        <div class="info">Fecha de Nacimiento:</div>
                                                    </div>
                                                    <div class="col-sm-6 container">
                                                        <input id="fechaNacimiento" type="date" class="form-control p1" 
                                                        placeholder="11/02/2001">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6 container">
                                                        <div class="info">Sexo:</div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="dropdown container">
                                                            <select id="sexo" @onchange="GetSexo">
                                                                @foreach (var option in sexo)
                                                                {
                                                                    <option value="@option">@option</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div> @* End of Info Student Data *@

        </div>
    </div>

</div>


@code
{
    bool sex = false;
    List<string> sexo = new List<string> { "Femenino", "Masculino"};

    void GetSexo(ChangeEventArgs e)
    {
        var selectSexo = e.Value.ToString();

        if(selectSexo == "Femenino")
        {
            sex = false;
        }else{
            sex = true;
        }
    }

}