.disabled-option {
    color: gray; /* Cambia el color de las opciones deshabilitadas */
    font-style: italic; /* Aplica un estilo en cursiva */
}

.status-label {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
}

.active-status {
    background-color: #1CC88A;
    border-radius: 5px; /* Bordes redondeados */
    padding: 4px 7px; /* Espaciado interno para darle tamaño */
    color: white; /* Color del texto */
    display: inline-block; /* Asegura que se comporte como un elemento en línea con tamaño ajustable */
}

.inactive-status {
    background-color: red;
    border-radius: 5px; /* Bordes redondeados */
    padding: 4px 7px; /* Espaciado interno para darle tamaño */
    color: white; /* Color del texto */
    display: inline-block; /* Asegura que se comporte como un elemento en línea con tamaño ajustable */
}