@page "/accouting/tariff-profiles"
@using wsmcbl.front.Controllers
@using wsmcbl.front.model.accounting
@inject TariffCollectionController Controller;
@inject SweetAlertService Swal;


@if (students == null)
{
    <div class="loader"></div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Perfiles de cobro</h6>
            <a href="/academy/tariff-profiles/new" class="btn btn-success btn-sm" role="button">Nuevo Estudiante</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Año Lectivo</th>
                        <th>Tutor</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Año Lectivo</th>
                        <th>Tutor</th>
                        <th>Acción</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var item in students)
                    {
                        <tr>
                            <td> @item.studentId </td>
                            <td> @item.fullName </td>
                            <td> @item.schoolyear </td>
                            <td> @item.tutor </td>
                            <td>
                                <a href="/accouting/tariffcollection/@item.studentId" class="btn btn-success btn-sm">Cobro</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <!-- Inicializamos datatable -->
    <script defer src="/js/demo/datatables-demo.js"></script>
}

    


@code
{
    @* Obtenemos la lista de todos los estudiantes a los que le podemos aplicar cobros *@
    private List<StudentEntity>? students;

    protected override async Task OnInitializedAsync()
    {
        students = await Controller.getStudentList();
        if (students is null)
        {
            await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Sin estudiantes",
                Text = "La transacción no se completó correctamente.",
                Icon = SweetAlertIcon.Error
            });
        }
    }
}