@using wsmcbl.src.View.Components
<div class="modal fade" id="ModalDownloadStatistics" tabindex="-1" role="dialog" aria-labelledby="ModalDownloadStatistics" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTariff">Descargar reporte estadistico por parcial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="typeStatistics" class="label-required">Selecccione un parcial.</label>
                        <select id="typeStatistics" class="form-control" @bind="CurrentPartialId">
                            @foreach (var option in Partial.OrderBy(t => t.partialId))
                            {
                            <option value="@option.partialId">@option.label</option>
                            }
                        </select>
                    </div>
                    <RequerideMessage/>
                </form>
            </div>

            <div class="modal-footer">
                <div class="right-container">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-danger" @onclick="DownloadPartialReport">Descargar</button>
                </div>
            </div>

        </div>
    </div>
</div>