@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Colegio Bautista Libertad</title>
    <meta name="description" content="Somos un colegio en Managua Nicaragua pertenecemos al ministerio de la Iglesia Bautista Libertad">
    <meta name="keywords" content="Colegio Escuela Bautista Educacion Aprendizaje Calificaciones">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Bootslander
    * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="index-page">

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="#home" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Colegio Bautista Libertad</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li>
                    <a href="/online-degree">Ver calificaciones</a>
                </li>

                <li class="dropdown">
                    <a href="#">
                        <span>¿Quiénes somos?</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#features">Nuestros Valores</a>
                        </li>
                        <li>
                            <a href="#details">Misión y Visión</a>
                        </li>
                        <li>
                            <a href="#gallery">Galeria</a>
                        </li>
                        <li>
                            <a href="#faq">Preguntas Frecuentes</a>
                        </li>
                        <li>
                            <a href="#contact">Contactanos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://nextcloud.cbl-edu.com/login">Next-Cloud</a>
                </li>
                <li>
                    <a href="https://wsm.cbl-edu.com/login">WSM CBL</a>
                </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>

<main class="main">

<!-- Hero Section -->
<section id="home" class="hero section dark-background">
    <img src="assets/img/hero-bg-2.jpg" alt="" class="hero-bg">

    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-lg-4 order-lg-last hero-img d-flex justify-content-center justify-content-lg-start" data-aos="zoom-out" data-aos-delay="100">
                <img src="assets/img/cbl_logo.png" class="img-fluid animated mx-auto mx-lg-0" alt="logo colegio">
            </div>

            <div class="col-lg-6  d-flex flex-column justify-content-center" data-aos="fade-in">
                <h1>Educando a las generaciones futuras con <span>Amor</span></h1>
                <p>Porque Jehová da la sabiduría, Y de su boca viene el conocimiento y la inteligencia. Prov 2:6 RVR1960</p>
                <!-- 
                    <div class="d-flex">
                        <a href="#about" class="btn-get-started">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                    -->
            </div>

        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
    </svg>

</section><!-- /Hero Section -->

<!-- Features Section -->
<section id="features" class="features section">

    <div class="container">

        <div class="col-xl-5 content">
            <h2>Nuestros Valores</h2>
        </div>

        <div class="row gy-4">

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="features-item">
                    <i class="bi bi-heart" style="color: #ffbb2c;"></i>
                    <h3>
                        <a href="" class="stretched-link">Amor</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="features-item">
                    <i class="bi bi-gear" style="color: #5578ff;"></i>
                    <h3>
                        <a href="" class="stretched-link">Esfuerzo</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="features-item">
                    <i class="bi bi-star" style="color: #e80368;"></i>
                    <h3>
                        <a href="" class="stretched-link">Disciplina</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
                <div class="features-item">
                    <i class="bi bi-sun" style="color: #e361ff;"></i>
                    <h3>
                        <a href="" class="stretched-link">Esperanza</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <div class="features-item">
                    <i class="bi bi-shield-lock" style="color: #47aeff;"></i>
                    <h3>
                        <a href="" class="stretched-link">Integridad</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
                <div class="features-item">
                    <i class="bi bi-hand-thumbs-up" style="color: #ffa76e;"></i>
                    <h3>
                        <a href="" class="stretched-link">Respeto</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
                <div class="features-item">
                    <i class="bi bi-globe-americas" style="color: #11dbcf;"></i>
                    <h3>
                        <a href="" class="stretched-link">Dios</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
                <div class="features-item">
                    <i class="bi bi-heart" style="color: #4233ff;"></i>
                    <h3>
                        <a href="" class="stretched-link">Compasión</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="900">
                <div class="features-item">
                    <i class="bi bi-people" style="color: #b2904f;"></i>
                    <h3>
                        <a href="" class="stretched-link">Solidaridad</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1000">
                <div class="features-item">
                    <i class="bi bi-person-check" style="color: #b20969;"></i>
                    <h3>
                        <a href="" class="stretched-link">Tolerancia</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1100">
                <div class="features-item">
                    <i class="bi bi-person-dash" style="color: #ff5828;"></i>
                    <h3>
                        <a href="" class="stretched-link">Humildad</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

            <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1200">
                <div class="features-item">
                    <i class="bi bi-emoji-smile" style="color: #29cc61;"></i>
                    <h3>
                        <a href="" class="stretched-link">Gratitud</a>
                    </h3>
                </div>
            </div><!-- End Feature Item -->

        </div>

    </div>

</section><!-- /Features Section -->

<!-- Stats Section -->
<section id="stats" class="stats section light-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-person-check"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Docentes</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-backpack"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="700" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Estudiantes</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-motherboard"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Niveles Educativos</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-hourglass-split"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Años de historia</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section><!-- /Stats Section -->

<!-- Details Section -->
<section id="details" class="details section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Acerca de Nostros</h2>
        <div>
            <span>Conocenos a</span> <span class="description-title">Detalle</span>
        </div>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4 align-items-center features-item">
            <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                <img src="assets/img/gallery/MisionVision/1-VM.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">

                <h3>Misión</h3>
                <p class="lead text-justify">
                    Formar niños (as) y jóvenes mediante un proceso educativo de calidad con principios cristianos valores morales y éticos
                    que contribuyan al desarrollo de la comunidad.
                </p>

                <hr/>

                <h3>Visión.</h3>
                <p class="text-justify lead">
                    Contribuir con la educación brindando a los estudiantes y jóvenes de la comunidad una preparación científica de calidad, ética y espiritual,
                    como agentes de cambios para el desarrollo sostenible en armonía con el medio ambiente,
                    que impulse el aprendizaje permanente para convivir con una cultura de paz y justicia social.
                </p>

            </div>
        </div><!-- Features Item -->

    </div>

</section><!-- /Details Section -->

<!-- Gallery Section -->
<section id="gallery" class="gallery section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Galeria</h2>
        <div>
            <span>Mira alguna de nuestras </span> <span class="description-title">Fotografías</span>
        </div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/CBL/1-CBL.webp" class="glightbox" data-gallery="images-gallery">
                        <img src="assets/img/gallery/CBL/1-CBL.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/CBL/2-CBL.webp" class="glightbox" data-gallery="images-gallery">
                        <img src="assets/img/gallery/CBL/2-CBL.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/CBL/3-CBL.webp" class="glightbox" data-gallery="images-gallery">
                        <img src="assets/img/gallery/CBL/3-CBL.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/CBL/4-CBL.webp" class="glightbox" data-gallery="images-gallery">
                        <img src="assets/img/gallery/CBL/4-CBL.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/CBL/5-CBL.webp" class="glightbox" data-gallery="images-gallery">
                        <img src="assets/img/gallery/CBL/5-CBL.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/CBL/6-CBL.webp" class="glightbox" data-gallery="images-gallery">
                        <img src="assets/img/gallery/CBL/6-CBL.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/CBL/7-CBL.webp" class="glightbox" data-gallery="images-gallery">
                        <img src="assets/img/gallery/CBL/7-CBL.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="assets/img/gallery/CBL/8-CBL.webp" class="glightbox" data-gallery="images-gallery">
                        <img src="assets/img/gallery/CBL/8-CBL.webp" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- End Gallery Item -->

        </div>

    </div>

</section><!-- /Gallery Section -->

<!-- Faq Section -->
<section id="faq" class="faq section light-background">

    <div class="container-fluid">

        <div class="row gy-4">

            <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

                <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
                    <h3>
                        <span>Preguntas </span><strong>Frecuentes</strong>
                    </h3>
                    <p>
                        Estas son algunas de las preguntas más frecuentes, no dudes en contactarnos si aún te quedan dudas. info@cbl-edu.com
                    </p>
                </div>

                <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">

                    <div class="faq-item faq-active">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>¿Cuáles son los requisitos para matricular?</h3>
                        <div class="faq-content">
                            <p>
                                Hoja de traslado (Original)<br>
                                Constancia de conducta (Copia)<br>
                                Partida de nacimiento (Copia)<br>
                                Cédula de los padres (Copia)<br>
                                Boletín anterior (Copia)
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>¿Cómo veo mis calificaciones?</h3>
                        <div class="faq-content">
                            <p>Las calificaciones están disponibles haciendo click <a href="/online-degree">aquí</a>. Debes tener las credenciales a mano para poder acceder.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>¿Cómo obtengo mis credenciales?</h3>
                        <div class="faq-content">
                            <p>
                                Las credenciales son entregadas en el momemento de la matrícula, si por alguna razón no tienes acceso
                                a esta información envianos un correo a <a href="mailto:soporte@cbl-edu.com">soporte@cbl-edu.com</a>
                                o visitanos en nuestras instalaciones.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                </div>

            </div>

            <div class="col-lg-5 order-1 order-lg-2">
                <img src="assets/img/faq.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
            </div>
        </div>

    </div>

</section><!-- /Faq Section -->

<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Contactanos!</h2>
        <div>
            <span>Información de </span> <span class="description-title">contacto.</span>
        </div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Dirección</h3>
                        <p>Entrada norte Centro Comercial Managua, 1 cuadra arriba, 1/2 cuadra al sur.</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Teléfono</h3>
                        <p>2270-5587</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-whatsapp"></i>
                    <div>
                        <h3>WhatsApp</h3>
                        <p>
                            <a href="https://wa.me/50557458368" target="_blank" class="contact-link">+505 5745 8368</a>
                        </p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-mailbox"></i>
                    <div>
                        <h3>Correo</h3>
                        <p>
                            <a href="mailto:soporte@cbl-edu.com">soporte@cbl-edu.com</a>
                        </p>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <div class="col-lg-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d975.2218103648834!2d-86.24670157880223!3d12.119866933385515!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73fe19e206a1a9%3A0xee504fc0b55cde55!2sColegio%20Bautista%20Libertad!5e0!3m2!1ses!2sni!4v1728104889966!5m2!1ses!2sni" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->

</main>

<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="/" class="logo d-flex align-items-center">
                    <span class="sitename">Colegio Bautista Libertad</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Entrada norte Centro Comercial Managua, 1 cuadra arriba, 1/2 cuadra al sur.</p>
                    <p>Managua Nicaragua</p>
                    <p class="mt-3">
                        <strong>Teléfono:</strong> <span>2270-5587</span>
                    </p>
                    <p>
                        <strong>Correo:</strong> <span>info@cbl-edu.com</span>
                    </p>
                </div>
                <div class="social-links d-flex mt-4">
                    <a href="https://www.facebook.com/p/Colegio-Bautista-Libertad-100063819162602/">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
            </div>


        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Colegio Bautista Libertad</strong> <span>Todos los derechos reservados.</span></p>
    </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Preloader -->

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>