.dropdown-menu {
    min-width: 200px;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: auto;
    right: 0;
    overflow: visible;
}


.dropdown {
    position: relative;
}


.card-body, .table-responsive, .table {
    overflow: visible !important;
}

.card-body, .table-responsive, .table {
    overflow: visible !important;
}