@page "/calendar"

<div class="responsive-calendar">
    <iframe
        src="https://nextcloud.cbl-edu.com/apps/calendar/embed/7tp6pWz2awcieE76"
        frameborder="0"
        allowfullscreen
        scrolling="no">
    </iframe>
</div>
