<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="#home" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Colegio Bautista Libertad</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li>
                    <a href="/online-grades">Ver calificaciones</a>
                </li>
                <li>
                    <a href="/regulation">Ver reglamento</a>
                </li>

                <li class="dropdown">
                    <a href="#">
                        <span>¿Quiénes somos?</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#features">Nuestros Valores</a>
                        </li>
                        <li>
                            <a href="#details">Misión y Visión</a>
                        </li>
                        <li>
                            <a href="#gallery">Galería</a>
                        </li>
                        <li>
                            <a href="#faq">Preguntas Frecuentes</a>
                        </li>
                        <li>
                            <a href="#contact">Contáctanos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://nextcloud.cbl-edu.com/login">Next-Cloud</a>
                </li>
                <li>
                    <a href="https://wsm.cbl-edu.com/login">WSM CBL</a>
                </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>
