@page "/secretary/schoolyears/tariffs"

@inherits BaseView;
@attribute [Authorize(Roles = "admin, secretary, cashier")]

@if (IsLoading())
{
    <div class="loader"></div>
}
else
{
    <h3>Lista de tarifas</h3>
}