<div class="row">
    <div class="col-12 col-md-6">

        <div class="profile-panel row no-gutters">

            <div class="col-md-5 profile-img-container">
                <img src="@ImgSrc" alt="Foto de perfil" class="profile-img">
            </div>

            <div class="col-md-7 profile-info">
                <div>
                    <h3 class="profile-name">@Student.FullName()</h3>
                    <p class="profile-role">@Student.studentId</p>
                </div>
                <div class="profile-buttons profile-details">
                    <button class="btn btn-primary" @onclick="OpenFileDialog">Subir Foto</button>
                    <button class="btn btn-secondary" @onclick="StartCamera">Abrir Cámara</button>
                    <button class="btn btn-secondary" @onclick="CaptureImage">Tomar Foto</button>
                    <hr/>
                    <button class="btn btn-secondary" @onclick="SendProfilePictureToApi">Actualizar Foto</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="card-body">
            <video id="videoElement" autoplay></video>
        </div>
    </div>
</div>
<InputFile OnChange="HandleFileChangeAsync" style="display: none;" id="fileInput"/>
<script src="js/PhotoView.js"></script>