@inherits LayoutComponentBase;

@using wsmcbl.src.View.Components

@if (IsLoading)
{
    <LoadingPage/>
}
else if (!IsAuthenticated)
{
    <RedirectToLogin/>
}
else
{
    <div id="wrapper">

        @if (UserRole == "admin")
        {
            <SidebarNav/>
        }
        else if (UserRole == "secretary")
        {
            <SidebarSecretary/>
        }
        else if (UserRole == "cashier")
        {
            <SidebarCashier/>
        }
        else if (UserRole == "principal")
        {
            <SidebarPrincipal/>
        }
        else if (UserRole == "viceprincipal")
        {
            <SidebarVicePrincipal/>
        }
        else if (UserRole == "teacher")
        {
            <SidebarTeacher/>
        }
        
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content" class="bg-gray-300">
                <TopNavBar/>
                <GlobalErrorView>
                    <div class="container-fluid mt-4">
                        @Body
                    </div>
                </GlobalErrorView>
            </div>
            <FooterView/>
        </div>
    </div>
    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
}