@page "/secretary/enrollments/students/{StudentId}"
@attribute [Authorize(Roles = "admin")]

@using wsmcbl.src.View.Components;

@if (Student != null && Degrees.Any())
{
    <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="TabStudent" data-toggle="tab" href="#PanelStudent" role="tab"
                   aria-controls="PanelStudent" aria-selected="true">
                    Información del Estudiante
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="TabAcademy" data-toggle="tab" href="#PanelTutor" role="tab"
                   aria-controls="PanelTutor" aria-selected="false">
                    Parientes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="TabAcademy" data-toggle="tab" href="#PanelAcademy" role="tab"
                   aria-controls="PanelAcademy" aria-selected="false">
                    Academica
                </a>
            </li>
        </ul>
        <div>
            <button type="button" class="btn btn-success"
                    @onclick="(e) => SaveEnrollment()">
                Guardar
            </button>
            |
            @if (IsStudentsEnrollment)
            {
                <button type="button" class="btn btn-success"
                        @onclick="(e) => PrintEnrollSheet(Student.studentId)">
                    Imprimir Hoja de Matrícula
                </button>
            }
            else
            {
                <button type="button" class="disabled btn btn-outline-secondary">
                    Imprimir Hoja de Matrícula
                </button>
            }
        </div>
    </div>

    <div class="card-body" id="tabContent">
    <div class="tab-content">
    
    <div class="tab-pane fade show active" id="PanelStudent" role="tabpanel" aria-labelledby="TabStudent">
        <TabStudent Student="Student" Age="Age" Sex="Sex" SelectRepeat="@IsRepeating" SelectRepeatChanged="@OnRepeatSelectionChanged"/>
    </div>

    <div class="tab-pane fade" id="PanelTutor" role="tabpanel" aria-labelledby="TabTutor">
        <TabTutor Student="Student"/>
    </div>

    <div class="tab-pane fade" id="PanelAcademy" role="tabpanel" aria-labelledby="TabAcademy">
        <TabAcademy Student="Student" Degrees="Degrees" @bind-DiscountId="DiscountId" @bind-EnrollmentIdSelected="EnrollmentIdSelected"/>
    </div>
    
    </div>
    </div>


    <PdfViewer Title="Hoja de matrícula" PdfContent="@EnrollSheetPdf"/>

    </div>
}
else
{
    <div class="loader"></div>
}