@page "/secretary/enroll/students"

@inherits BaseView
@attribute [Authorize(Roles = "admin,secretary")]

@if(IsLoading())
{
    <div class="loader"></div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Listado de estudiantes sin matricular</h6>
            <button class="btn btn-success btn-sm" @onclick="LoadStudents">Actualizar</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Matricular</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Matricular</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach(var item in studentList!)
                    {
                        <tr>
                            <td>@item.StudentId</td>
                            <td>@item.Fullname</td>
                            <td>
                                <a href="/secretary/enroll/students/@item.StudentId" class="btn btn-success btn-sm">Matricular</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Inicializamos datatable -->
    <script src="js/DataTable/dataTableOrderByName.js"></script>
}
