@page "/web"
@using wsmcbl.front.Model.Secretary.Input
@inherits ConfigSchoolYear;

@if (SchoolYearEntity == null)
{
    <div class="loader"></div>
}
else
{
    <link rel="stylesheet" href="css/ConfigSchoolYearView.css">

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Configurar Año Lectivo <span class="year-box">@SchoolYearEntity.SchoolYearId</span> </h6>
            <a class="btn btn-success btn-sm" role="button" @onclick="() => SaveSchoolYear(SchoolYearEntity)">Guardar</a>
        </div>
    
        <div class="card-body">

            <div class="row">
                <div class="col-md-4">
                    <h4>Grados</h4>
                    <ul class="list-group">
                        @foreach (var grade in SchoolYearEntity.Grades)
                        {
                        <li class="list-group-item @GetSelectedClass(grade)" @onclick="() => SelectGrade(grade)">
                                @grade.Label
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-8">
                    <h4>Asignatura</h4>
                    @if (SelectedGrade != null)
                    {
                        <ul class="list-group">
                            @foreach (var subject in SelectedGrade.Subjects)
                            {
                                <li class="list-group-item">
                                    @subject.Name
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Seleccione un grado.</p>
                    }
                </div>
            </div>
            
        </div>
    </div>
}
