@page "/grade"
@attribute [Authorize(Roles = "admin")]

@if (User != null)
{
    <div class="card border-bottom-success mb-3 p-2">
        <h5 class="text-gray-900">Bienvenido @User.getName() </h5>
    </div>

    <div class="row">
    
        <div class="col-md-6">
            <div class="mb-4">
                <div class="card border-bottom-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Primaria</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Sexto Grado (B)</div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-success">Calificar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-4">
                <div class="card border-bottom-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Secundaria</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Septimo Grado (A)</div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-danger">Calificar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
}
else
{
    <div class="loader"></div>
}








