<div class="modal fade" id="ModalEditTariff" tabindex="-1" role="dialog" aria-labelledby="ModalEdit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalEdit">Editar Tarifa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="gradeIntId">Concepto</label>
                        <input type="text" class="form-control" id="Concept" @bind="SelectedTariff.Concept" />
                    </div>
                    <div class="form-group">
                        <label for="semester">Vencimiento</label>
                        <input type="date" class="form-control" id="dueDate" @bind="SelectedTariff.DueDate" />
                    </div>
                    <div class="form-group">
                        <label for="name">Tipo</label>
                        <select id="modality" class="form-control" style="margin: 0px" @bind="SelectedTariff.Type">
                            @foreach (var option in DropdownTypeTariffsLists)
                            {
                            <option value="@option.Id">@option.Nombre</option>
                            }
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="right-container">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" @onclick="CompleteEdit">Guardar Cambios</button>

                </div>
            </div>

        </div>
    </div>
</div>