<div class="modal fade" id="ModalNewTariff" tabindex="-1" role="dialog" aria-labelledby="ModalTariff" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTariff">Nuevo arancel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="gradeIntId">Concepto</label>
                        <input type="text" class="form-control" id="Concept" @bind="SelectedSchoolyearTariff.concept" />
                    </div>
                    <div class="form-group">
                        <label for="name">Monto</label>
                        <input type="number" class="form-control" id="amount" @bind="SelectedSchoolyearTariff.amount" />
                    </div>
                    <div class="form-group">
                        <label for="semester">Vencimiento</label>
                        <input type="date" class="form-control" id="dueDate" @bind="SelectedSchoolyearTariff.OnlyDate" />
                    </div>
                    <div class="form-group">
                        <label for="name">Tipo</label>
                        <select id="modality" class="form-control" style="margin: 0px" @bind="SelectedSchoolyearTariff.type">
                            @foreach (var option in TariffTypeItemList!)
                            {
                            <option value="@option.Id">@option.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Modalidad</label>
                        <select id="modality" class="form-control" style="margin: 0px" @bind="SelectedSchoolyearTariff.modality">
                            @foreach (var option in modalityItemList)
                            {
                            <option value="@option.Id">@option.Name</option>
                            }
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="right-container">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-danger" @onclick="() => SaveNewTariff(SelectedSchoolyearTariff)">Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>