@using wsmcbl.src.Service;

@inherits GlobalError;

<CustomErrorBoundary @ref="@ErrorBoundary" Context="Exception">
    <ChildContent>
        @ChildContent
    </ChildContent>
    <ErrorContent>
        <div class="alert bg-danger text-white alert-dismissible">
            @Exception.GetType(): @Exception.Message
            <button class="close" @onclick="@ErrorBoundary.Recover"></button>
        </div>
    </ErrorContent>
</CustomErrorBoundary>