<CustomErrorBoundary @ref="@Error" Context="Exception">
    <ChildContent>
        @ChildContent
    </ChildContent>
    <ErrorContent>
        <div class="alert bg-danger text-white alert-dismissible">
            @Exception.GetType(): @Exception.Message
            <button class="btn-warning" @onclick="@Error.Recover"></button>
        </div>
    </ErrorContent>
</CustomErrorBoundary>