<ErrorBoundary>
    <ChildContent>
        @ChildContent
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-danger">
            Ha ocurrido un error inesperado. Por favor, inténtelo de nuevo más tarde.
        </div>
    </ErrorContent>
</ErrorBoundary>