@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace wsmcbl.front.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Pagina web Colegio Bautista Libertad Managua Nicaragua" content="">
    <meta name="author" content="">

    <title>Colegio Bautista Libertad</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    <!-- Tecnologia--> 
    <base href="~/" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body id="page-top">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <!-- 1 y 2 Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- 3 Core plugin JavaScript-->
    
    <!-- 4 Custom scripts for all pages-->
    <script src="/js/sb-admin-2.js"></script>

    <!-- 5 y 6 Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Referencia a Libreria para los toast o carteles -->
    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>

    <script src="_framework/blazor.server.js"></script>

    </body>
</html>
