@page "/home"
@layout EmptyLayout

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="home" class="logo d-flex align-items-center">
        <h1 class="sitename">Colegio Bautista Libertad</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="Home" class="active">Inicio</a></li>
          <li><a href="Index">Iniciar Sesión</a></li>
          <li><a href="#features">Ver calificaciones</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      <img src="assets/img/hero-bg-2.jpg" alt="" class="hero-bg">

      <div class="container">
        <div class="row gy-4 justify-content-between">
          <div class="col-lg-4 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
            <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
          </div>

          <div class="col-lg-6  d-flex flex-column justify-content-center" data-aos="fade-in">
            <h1>Educando a las futuras generaciones con <span>Amor</span></h1>
            <p>Somos un ministerio de la Iglesia Bautista Libertad</p>
          </div>

        </div>
      </div>

      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
      </svg>

    </section><!-- /Hero Section -->
    
    <!-- Details Section -->
    <section id="details" class="details section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Sobre nosotros</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row my-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center">
            <img src="assets/img/details-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>Misión</h3>
            <p class="fst-italic">
              El Colegio Bautista Libertad mediante la práctica de los valores fundamentados en la enseñanza bíblica garantiza a la niñez, adolescencia y juventud
              el desarrollo personal, mediante un proceso educativo de calidad y equidad mediante el compromiso de contribuir a la sostenibilidad de la nación.
            </p>
            <ul>
              <li><i class="fa fa-check"></i><span> Promovemos el pensamiento critico.</span></li>
              <li><i class="fa fa-check"></i> <span>Las bases cientificas.</span></li>
              <li><i class="fa fa-check"></i> <span>La exelencia.</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->


        <div class="row my-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center">
            <img src="assets/img/details-2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Visión</h3>
            <p class="fst-italic">
              Contribuir con la educación brindando a nuestros jóvenes y comunidad una preparación cientifica  y de calidad, ética y espiritual; 
              como agentes de cambio para el desarrollo sostenibles en armonia con el medio ambiente, que impulse el aprendizaje permanente 
              para vivir una cultura de paz y de justicia social.
            </p>
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Details Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Galeria</h2>
        <div><span>Mira nuestra</span> <span class="description-title">Galeria</span></div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="img/cbl1.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="img/cbl1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="img/cbl2.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="img/cbl2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="img/cbl3.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="img/cbl3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="img/cbl4.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="img/cbl4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="img/cbl5.jpeg" class="glightbox" data-gallery="images-gallery">
                <img src="img/cbl5.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-6.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-7.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-8.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->
    

    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">
      <div class="container-fluid">
        <div class="row gy-4">
          <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">
            <div class="content px-xl-5">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit.
              </p>
            </div>

            <div class="faq-container px-xl-5">
              <div class="faq-item faq-active">
                <i class="faq-icon fa fa-question-circle"></i>
                <h3>¿Cuales son los requisitos para matricular?</h3>
                <div class="faq-content">
                  <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
                </div>
                <i class="faq-toggle fa fa-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <i class="faq-icon fa fa-question-circle"></i>
                <h3>¿Como veo mis calificaciones?</h3>
                <div class="faq-content">
                  <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
                </div>
                <i class="faq-toggle fa fa-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <i class="faq-icon fa fa-question-circle"></i>
                <h3>¿Como obtengo mis credenciales de estudiante?</h3>
                <div class="faq-content">
                  <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis.</p>
                </div>
                <i class="faq-toggle fa fa-chevron-right"></i>
              </div><!-- End Faq item-->
            </div>
          </div>

          <div class="col-lg-5 order-1 order-lg-2">
            <img src="assets/img/faq.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>
<!-- /Faq Section -->
    
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title">
        <div><span>Información de contacto</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">
          
          <div class="col-sm-4">
            <div class="info-item d-flex">
              <i class="fas fa-map-marker-alt flex-shrink-0"></i>
              <div>
                <h3>Dirección</h3>
                <p>Entrada norte C.C. Managua 1 cuadra arriba 1/2 cuadra al sur.</p>
              </div>
            </div><!-- End Info Item -->
          </div>
          
          <div class="col-sm-4">
            <div class="info-item d-flex">
              <i class="fas fa-phone flex-shrink-0"></i>
              <div>
                <h3>Teléfono</h3>
                <p>2270-5587</p>
              </div>
            </div><!-- End Info Item -->
          </div>
          
          <div class="col-sm-4">
            <div class="info-item d-flex">
              <i class="fas fa-envelope flex-shrink-0"></i>
              <div>
                <h3>Email</h3>
                <p>info@cblibertad.com</p>
              </div>
            </div><!-- End Info Item -->
          </div>
          
        </div>
        
      </div>
    </section>
    <!-- /Contact Section -->


  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/home" class="logo d-flex align-items-center">
            <span class="sitename">Colegio Bautista Libertad</span>
          </a>
          
          <div class="footer-contact pt-3">
            <p>Entrada norte C.C. Managua 1 cuadra arriba 1/2 cuadra al sur.</p>
            <p>Managua, Nicaragua</p>
            <p class="mt-3"><strong>Telefono:</strong> <span>2270-5587</span></p>
            <p><strong>Correo:</strong> <span>info@cblibertad.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>
        
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Colegio Bautista Libertad</strong> <span>Todos los derechos reservados</span></p>
      <div class="credits">
      </div>
    </div>

  </footer>
  
  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>


