@page "/"
@using wsmcbl.src.Utilities

<h1 style="text-align: center;">¡Bienvenido!</h1>

@code{
    
    [Inject] protected Notificator Notificator { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Notificator.ShowSuccess("Exito","cargado");
        
    }

}