.card {
    position: relative;
    overflow: visible !important;
    z-index: auto !important;
}

.card-body {
    position: static !important;
    overflow: visible !important;
}

.card.border-left-info .dropdown-menu {
    z-index: 1070 !important;
    position: absolute !important;
    transform: translate3d(-120px, 0px, 0px) !important;
}
.report-card {
    isolation: isolate;
}

.report-card .dropdown-menu {
    z-index: 1070 !important;
    transform: translate3d(-120px, 0px, 0px) !important;
}
/* Dropdown general */
.dropdown-menu {
    z-index: 1060 !important;
    position: absolute !important;
}

.dropdown {
    position: relative !important;
}