@page "/principal"
@using wsmcbl.src.View.Components.GetDateRecordingGrade
@using wsmcbl.src.View.Management.ReportUserCalification
@using wsmcbl.src.View.Components.ViewEnrollmentReports
@using wsmcbl.src.View.Components.Charts
@attribute [Authorize(Roles = "principal")]

<h1 style="text-align: center; margin-bottom: 20px">¡Bienvenido Director!</h1>

<!-- Summary Chart -->
<!-- Admin Data --> 
<RevenuesChart/>
<SumaryStudentChart/>

<div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
        <EducationLevesChart/>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
        <GradeChart/>
    </div>
</div>
<!-- Summary Chart -->

<div class="row justify-content-end">
    <button type="button" data-toggle="modal" data-target="#DownloadReportByEnrollmentModal"
            class="btn btn-primary">
        Descargar reporte por sección
    </button>
</div>

<ViewEnrollmentReports/>
<GetDateRecordingGradeComponent/>
<ReportTecherCalification/>

