@page "/teacher"
@using wsmcbl.src.View.Components.GetDateRecordingGrade
@using wsmcbl.src.View.Academy.SubjectByTeacher
@using wsmcbl.src.View.Academy.PorcentageSubjectEvaluated
@attribute [Authorize(Roles = "teacher")]

<h1 style="text-align: center; margin-bottom: 20px;">¡Bienvenido Docente!</h1>
<GetDateRecordingGradeComponent/>
<SubjectsByTeacher TeacherId="@TeacherId"/>
<SubjectPorcentageEvaluated TeacherId="@TeacherId"/>