@page "/regulation"

@using wsmcbl.src.Components.Pages.Base

<HeaderView/>
<div>
    <div>
        <div class="container my-5">
            <!-- Encabezado Principal -->
            <div class="text-center mb-5">
                <h1 class="fw-bold text-primary">Reglamento del Colegio Bautista Libertad</h1>
                <p class="lead text-muted">Un ambiente educativo de respeto, responsabilidad y excelencia</p>
            </div>

            <!-- Derechos del Alumno -->
            <div class="card mb-5 border-primary shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h2 class="text-white">Derechos del Alumno</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Conocer el reglamento Interno del Colegio.</li>
                                <li class="list-group-item">Recibir una Educación acorde con los fines y que orienta el
                                    Ministerio de Educación, así como una educación cristiana acorde a los principios
                                    bíblicos establecidos en la palabra de Dios.
                                </li>
                                <li class="list-group-item">Conocer el plan de estudio, contenidos y formas de
                                    evaluación que orienta el MINED.
                                </li>
                                <li class="list-group-item">Ser promovido al año inmediato superior siempre que tenga
                                    sus estudios aprobados.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Participar en todas las actividades escolares y
                                    extraescolares promovidas por la Dirección del colegio y autoridades del MINED.
                                </li>
                                <li class="list-group-item">Ser respetados y tratado con igualdad.</li>
                                <li class="list-group-item">Ser estimulado al destacarse en sus actividades escolares.
                                </li>
                                <li class="list-group-item">Recibir el apoyo de la dirección y docentes cuando sea
                                    solicitado.
                                </li>
                                <li class="list-group-item">Recibir sus horas de clases estipuladas en el horario.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Deberes del Estudiante -->
            <div class="card mb-5 border-danger shadow-lg">
                <div class="card-header bg-danger text-center">
                    <h2 class="text-white">Deberes del Estudiante</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Todo estudiante deberá respetar y someterse a las
                                    autoridades del centro director general (Pastor) directora docente, subdirectora,
                                    docentes, vigilantes, secretaria, afanadoras y diáconos.
                                </li>
                                <li class="list-group-item">Justificar las inasistencias del estudiante y ser puntual en
                                    la hora de entrada y salida 6:50 am y 12:00 pm secundaria; primaria de 6:50 am a 12
                                    pm y preescolar 7: 00 am a 11:00 am.
                                </li>
                                <li class="list-group-item">Prohibido comer y beber en horas de clase, tirar basura en
                                    el piso y corredores.
                                </li>
                                <li class="list-group-item">Prohibido portar objetos cortopunzantes u objetos
                                    perjudiciales para la seguridad de los alumnos.
                                </li>
                                <li class="list-group-item">No introducir revistas, maquillajes y pinturas y objetos
                                    personales en el aula de clase, celulares, tabletas, laptop y demás aparatos
                                    electrónicos.
                                </li>
                                <li class="list-group-item">No portar cantidades de dinero, prendas y objetos de
                                    valor.
                                </li>
                                <li class="list-group-item">El alumno está en el deber de pagar los veinte de cada mes,
                                    de lo contrario pagará el 10% de mora.
                                </li>
                                <li class="list-group-item">El treceavo mes se pagará en cuotas de febrero a
                                    noviembre.
                                </li>
                                <li class="list-group-item">El alumno con más de tres meses de recargo en mensualidades
                                    será retirado del centro.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Practicar normas de higiene y cortesía dentro y fuera del
                                    centro
                                </li>
                                <li class="list-group-item">Es obligación de todo estudiante cuidar la planta física del
                                    centro, infraestructura, paredes, sillas, mobiliario.
                                </li>
                                <li class="list-group-item">Los costos asociados a daños ocasionados irresponsablemente
                                    serán asumidos por los estudiantes involucrados.
                                </li>
                                <li class="list-group-item">Es obligación del estudiante vestir con el uniforme
                                    previamente establecido por las autoridades del MINED y del centro de estudios.
                                </li>
                                <li class="list-group-item">Asistir diario a clases y demás actividades que oriente el
                                    centro.
                                </li>
                                <li class="list-group-item">Cumplir puntualmente con las tareas en tiempo y forma.</li>
                                <li class="list-group-item">No salirse del aula en horas de clase.</li>
                                <li class="list-group-item">Para mantener su derecho de matrícula deberá tener un
                                    promedio final de 80% y 80 puntos en conducta.
                                </li>
                                <li class="list-group-item">La nota mínima de aprobar es de 60.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Vestimenta -->
            <div class="card mb-5 p-4 bg-dark text-white shadow-sm">
                <h4 class="mb-3 text-white">Acerca del Uniforme</h4>
                <ul>
                    <h5 class="text-white font-weight-bold">Para el estudiante varón</h5>
                    <li>Pantalón azul oscuro no ajustado al cuerpo, ni corto.</li>
                    <li>Camisa blanca con insignia, y de su talla o tamaño, camisa por dentro permanente dentro y fuera
                        del aula.
                    </li>
                    <li>Zapatos negros, calcetines blancos, negros o azules.</li>
                </ul>
                <hr/>
                <ul>
                    <h5 class="text-white font-weight-bold">Para el estudiante mujer</h5>
                    <li>Falda azul paletonada a la rodilla.</li>
                    <li>Camisa blanca con insignia.</li>
                    <li>Calcetines altos blancos, zapatos negros.</li>
                </ul>
                <hr/>
                <ul>
                    <h5 class="text-white font-weight-bold">Para ambos sexo</h5>
                    <li>traje deportivo buzo azul y camiseta blanca (no ajustados al cuerpo, camiseta por dentro),
                        zapatos deportivos negros (Para las niñas solamente usar en el momento de clase EEFF), de
                        carácter obligatorio.
                    </li>
                </ul>

            </div>

            <!-- Metodologia de Evaluacion EECC y Conducta -->
            <div class="card mb-5 border-primary shadow-lg">
                <div class="card-header bg-white text-center">
                    <h2 class="text-primary">Metodología de Evaluación para EECC y Conducta </h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-black text-center">Educación Cristiana</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Los estudiantes deben asistir una vez al mes a la Escuela
                                    Bíblica Dominical, según calendarización sin excepciones.
                                </li>
                                <li class="list-group-item">Cada estudiante debe portar su biblia, es de estricto
                                    cumplimiento (RV1960)
                                </li>
                                <li class="list-group-item">Evaluación de Educación Cristiana será de la siguiente
                                    manera:
                                </li>
                                <li class="list-group-item">25 puntos de EBD (Bimensual)</li>
                                <li class="list-group-item">25 puntos portar su Biblia</li>
                                <li class="list-group-item">20 puntos trabajos asignados.</li>
                                <li class="list-group-item">30 puntos práctica de valores.</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-black text-center ">Conducta</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">10 puntos de Asistencia diaria (justificar si es
                                    necesario)
                                </li>
                                <li class="list-group-item">10 puntos en puntualidad (entrada y salida)</li>
                                <li class="list-group-item">10 puntos en uso correcto del uniforme</li>
                                <li class="list-group-item">10 puntos en presentación personal (uso de aretes, peinados
                                    inadecuados, uñas pintadas y largas, cejas depiladas)
                                </li>
                                <li class="list-group-item">10 puntos disciplina dentro y fuera del salón de clases
                                    (tirar papeles, desorden en los baños, tirar agua a las bujías y lámparas)
                                </li>
                                <li class="list-group-item">20 puntos en respeto verbal y físico a docentes, compañeros
                                    y personal del centro (golpes, mal vocabulario, burlas y apodos)
                                </li>
                                <li class="list-group-item">30 puntos en práctica de valores: (creciendo en valores)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Prohibiciones -->
            <div class="card mb-5 border-danger shadow-lg">
                <div class="card-header bg-danger text-center">
                    <h2 class="text-white">Prohibiciones</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Es prohibido asistir a clases con adornos exagerados o prendas de oro (el
                                    colegio no responde por la pérdida de prendas)
                                    ni corte de pelo a la Moda, ni pelo teñido, ni uñas pintadas, ni cejas depiladas,
                                    labios pintados o maquilladas
                                </li>
                                <li class="list-group-item">Es prohibido asistir al centro con corte de pelo fuera de los
                                    principios bíblicos. I Cor. 11.14 hongo, rapado pelo largo, clavitos, olas y otros,
                                    uñas largas y pintadas y cejas depiladas
                                </li>
                                <li class="list-group-item">Es prohibido tener relación de noviazgo fuera y dentro del
                                    centro, besos en la boca, abrazos, sentarse en las piernas de sus compañeros
                                </li>
                                <li class="list-group-item">Es terminantemente prohibido el ingreso de estudiantes que
                                    no asistieron a la clase del día
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Faltas -->
            <div class="card mb-5 border-dark shadow-lg">
                <div class="card-header bg-dark text-center">
                    <h2 class="text-white">Tipos de faltas</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-black text-center">Faltas leves</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">No utilizar el uniforme escolar correctamente</li>
                                <li class="list-group-item">Correr en horas de receso</li>
                                <li class="list-group-item">Comer chicles y alimentos dentro del aula de clase</li>
                                <li class="list-group-item">Inasistencia injustificada</li>
                                <li class="list-group-item">Incumplimientos a tareas</li>
                                <li class="list-group-item">Indisciplinas en el recorrido escolar</li>
                            </ul>
                        </div>
                        <div class="col-md-6 pb-5">
                            <h5 class="text-black text-center ">Faltas graves</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Interrupción en clases</li>
                                <li class="list-group-item">Llegar tarde a clases en reincidencia</li>
                                <li class="list-group-item">Abandonar el aula en periodo de clases</li>
                                <li class="list-group-item">Permanecer en el aula antes de la primera hora y durante el receso</li>
                                <li class="list-group-item">Tener noviazgo dentro y fuera del centro</li>
                                <li class="list-group-item">Daño a la propiedad privada</li>
                                <li class="list-group-item">Fraude académico</li>
                                <li class="list-group-item">Vender entre estudiantes</li>
                            </ul>
                        </div>
                        <div class="row">
                            <h5 class="text-danger text-center ">Faltas muy graves</h5>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Inrrespeto a docentes, compañeros y personal del centro.</li>
                                    <li class="list-group-item">Decir malas palabras</li>
                                    <li class="list-group-item">Irrespeto a los símbolos patrios</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Introducir revistas, maquillajes y objetos de valor en el aula.</li>
                                    <li class="list-group-item">Agresiones físicas, bullying, actos inmorales (tocarse
                                        sus partes íntimas, bajarle el buzo, abrir puertas de baños en uso, no
                                        arreglarse la camisa en pasillos o aulas).
                                    </li>
                                    <li class="list-group-item"><code>Tres faltas leves equivale a una grave.</code>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Medidas disciplinarias -->
            <div class="card mb-5 border-success shadow-lg">
                <div class="card-header bg-success text-center">
                    <h2 class="text-white">Medidas disciplinarias</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Llamado de atención verbal al estudiante</li>
                                <li class="list-group-item">Llamado de atención por escrito (hacer actas)</li>
                                <li class="list-group-item">Llamar al padre de familia para notificar la situación en
                                    busca de soluciones (círculos restaurativos)
                                </li>
                                <li class="list-group-item">Al reincidir en las faltas se les asignará trabajos sociales
                                    (asignados por sus docentes) después de su periodo de clases (1:00pm a 3:00pm)
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 pb-5">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cada docente guía se hará responsable de hacer cumplir esta
                                    normativa según las necesidades del centro (lavar baños, limpiar los contornos de la
                                    escuela, ornato del centro, entre otros)
                                </li>
                                <li class="list-group-item">En caso de incumplimiento de lo antes detallado, se
                                    sancionará con expulsión de 3 días, 1 semana, 15 días y definitiva
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sobre los padres de familia -->
            <div class="card mb-5 border-dark shadow-lg">
                <div class="card-header bg-dark text-center">
                    <h2 class="text-white">Acerca de los padres de familia</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-dark text-center ">Deberes</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cumplir con las obligaciones económicas Colegiaturas a más
                                    tardar el último de cada mes. De lo contrario se le recargará el 10% de mora.
                                </li>
                                <li class="list-group-item">Pagar el treceavo mes en tres cuotas durante el año
                                    escolar.
                                </li>
                                <li class="list-group-item">Es obligación de cada padre asistir a las reuniones de
                                    entrega de boletines, escuela a padres o citas especiales.
                                </li>
                                <li class="list-group-item">Todo padre y madre dejará a su hijo en el portón principal,
                                    su ingreso al centro será debidamente justificado por pagos o citas por los
                                    docentes.
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6 pb-5">
                            <h5 class="text-dark text-center ">Derechos</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Los padres de familia serán a tendidos en horario especial
                                    por los docentes.
                                </li>
                                <li class="list-group-item">Sus reclamos, objeciones o sugerencias deberán hacerlas por
                                    escrito a la dirección académica con el propósito de darle una respuesta
                                    satisfactoria.
                                </li>
                                <li class="list-group-item">Es deber de los padres de familia asistir al centro escolar
                                    decorosamente vestidos.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Notas adicionales -->
            <div class="card mb-5 p-4 bg-dark text-white shadow-sm">
                <h4 class="mb-3 text-white">Notas adicionales</h4>
                <ul>
                    <h5 class="text-white font-weight-bold">El docente guía es el responsable de dar respuesta a
                        cualquier situación que se presente con sus estudiantes guiados (rendimiento académico y
                        disciplina estudiantil).</h5>
                    <hr/>
                    <h5 class="text-white font-weight-bold">El apoyo del padre es insustituible para mejorar el
                        rendimiento académico y la disciplina estudiantil. </h5>
                </ul>
            </div>

            <!-- Cita Inspiradora -->
            <div class="alert alert-dark text-center mb-5">
                <p class="mb-0">"Acuérdate de tu creador en los días de tu juventud antes que lleguen los días malos y
                    lleguen los años del os cuales digas no tengo en ellos contentamiento." – Eclesiastés 12:1 </p>
            </div>

            <!-- Sección de Contacto -->
            <div class="card p-4 mb-4 border-0 shadow">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5 class="text-primary">¿Tienes alguna pregunta sobre el reglamento?</h5>
                        <p>Contáctanos para más información.</p>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <a class="btn btn-primary" href="mailto:info@cbl-edu.com">¡Contáctanos!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <script src="assets/js/main.js"></script>
</div>

