@page "/"
@using wsmcbl.src
@namespace wsmcbl.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>Colegio Bautista Libertad</title>
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered" />

<!-- Scripts ABSOLUTOS y en ESTE ORDEN -->
<script src="/_framework/blazor.server.js"></script>
</body>
</html>