<!DOCTYPE html>
<html lang="es">
<head>
    <base href="/" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Colegio Bautista Libertad</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
@RenderBody()
    
<!-- Scripts deben ir al final -->
<script src="/_framework/blazor.server.js"></script>
</body>
</html>