<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a class="logo d-flex align-items-center">
            <h1 class="sitename">Colegio Bautista Libertad</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li>
                    <a href="/online-grades">Ver calificaciones</a>
                </li>
                <li>
                    <a href="/regulation">Ver reglamento</a>
                </li>
                <li>
                    <a href="https://nextcloud.cbl-edu.com/login">Next-Cloud</a>
                </li>
                <li>
                    <a href="https://wsm.cbl-edu.com/login">WSM CBL</a>
                </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>
