<div class="modal fade" id="UpdateTeacherSubject" tabindex="-1" aria-labelledby="UpdateTeacherSubject" aria-hidden="true">
    <div class="modal-dialog" role="document"
         style="width: 40%; height: 30%; max-width: 40%; max-height: 30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalUpdateTeacherSubject">Cambiar docente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <strong>Asignatura: </strong> <label>@SubjectName</label>

                <label style="display: inline-block; width: 200px;">Docente:</label>
                <select id="ListofTeachers" class="form-control" style="margin: 0" @onchange="GetTeacherIdSelect">
                    @if (TeacherAvailableList.Any())
                    {
                        @foreach (var option in TeacherAvailableList)
                        {
                            <option value="@option.teacherId">@option.fullName</option>
                        }
                    }
                    else
                    {
                        <option value="">No hay secciones disponibles</option>
                    }
                </select>
                
                
            </div>

            <div class="modal-footer">
                <div class="right-container">
                    <button type="button" class="btn btn-success" @onclick="UpdateTeacher">Actualizar docentes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>



