@using wsmcbl.src.View.Components
<div class="modal fade" id="ModalNewTariff" tabindex="-1" role="dialog" aria-labelledby="ModalTariff" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTariff">Nuevo arancel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="concept" class="label-required">Concepto</label>
                        <input type="text" class="form-control" id="concept" @bind="_tariff.concept" />
                    </div>
                    
                    <div class="form-group">
                        <label for="dueDate">Vencimiento</label>
                        <input type="date" class="form-control" id="dueDate" @bind="dueDate" />
                        
                        <div class="checkbox-wrapper-14 mt-3">
                            <input type="checkbox" id="isOverdue"
                                   checked="@(isOverdue)"
                                   @onchange="() => isOverdue = !isOverdue"/>
                            <label for="isOverdue">No vence</label>
                        </div>
                    </div>
                    
                    <div class="checkbox-wrapper-14 mt-3">
                        <input type="checkbox" id="isActive"
                               checked="@(_tariff.isActive)"
                               @onchange="() => _tariff.isActive = !_tariff.isActive"/>
                        <label for="isActive">¿Activo?</label>
                    </div>
                    
                    <div class="form-group">
                        <label for="type" class="label-required">Tipo</label>
                        <select id="type" class="form-control" @bind="_tariff.typeId">
                            @foreach (var option in _tariffTypeItemList!)
                            {
                            <option value="@option.Id">@option.Name</option>
                            }
                        </select>
                    </div>
                    <RequerideMessage/>
                </form>
            </div>

            <div class="modal-footer">
                <div class="right-container">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-danger" @onclick="CreateTariffData">Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>