@page "/accounting/reports/revenue"
@attribute [Authorize(Roles = "admin,cashier")]

@if (IsLoad())
{
    <div class="loader"></div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Reportes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Id</th>
                        <th>Estudiante</th>
                        <th>Estado</th>
                        <th>Monto</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Fecha</th>
                        <th>Id</th>
                        <th>Estudiante</th>
                        <th>Estado</th>
                        <th>Monto</th>
                        <th>Acción</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td> 19/junio/2024 </td>
                        <td> 1525 </td>
                        <td> Ezequielito</td>
                        <td>  Pagado </td>
                        <td> C$ 1800 </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Seleccione una opción:</div>
                                    <a class="dropdown-item" href="#">Ver recibo</a>
                                    <a class="dropdown-item" href="#">Anular</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script defer src="/js/demo/datatables-demo.js"></script>
}