.tac{
    text-align: center;
    vertical-align: middle;
}

.tac-max{
    text-align: center;
    vertical-align: middle;
    width: 150px;
    min-width: 100px;
}

/* Oculta las flechas en los inputs de tipo number */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
.no-spinner {
    -moz-appearance: textfield;
}

