.selected-grade {
    background-color: #4e73df;
}

.year-box {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}