@using wsmcbl.src.View.Components
<div class="modal fade" id="EditExchangeRateModal" tabindex="-1" aria-labelledby="EditExchangeRateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header py-3 bg-gray-100">
                <h5 class="modal-title text-gray-800 font-weight-bold">
                    <i class="fas fa-user-lock mr-2"></i>Editar tasa de cambio
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="schoolYear">Año Lectivo</label>
                        <input type="text" class="form-control" id="schoolYear" value="@SchoolYearLabel" disabled />
                    </div>
                    <div class="form-group">
                        <label for="value" class="label-required">Valor</label>
                        <input type="number" 
                               class="form-control" 
                               id="value" 
                               step="0.01" 
                               @bind="ExchangeRate.value" 
                               @bind:culture="System.Globalization.CultureInfo.InvariantCulture" />
                    </div>
                    <RequerideMessage/>
                </form>

                <div class="d-flex justify-content-end mt-4">
                    <button class="btn btn-success" @onclick="UpdateExchangeRate">
                        <i class="fas fa-save mr-2"></i>Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
