@page "/cobros"

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Perfiles de cobro</h6>
    </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Grado / Secci칩n</th>
                            <th>Modalidad</th>
                            <th>A침o lectivo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Grado / Secci칩n</th>
                            <th>Modalidad</th>
                            <th>A침o lectivo</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>2019-0056U</td>
                            <td>Ezequiel de Jesus</td>
                            <td>Urbina Zeledon</td>
                            <td>9B</td>
                            <td>Secundaria</td>
                            <td>2024</td>
                        </tr>
                        <tr>
                            <td>2018-0055U</td>
                            <td>Keni Orlando</td>
                            <td>Tinoco Red</td>
                            <td>4A</td>
                            <td>Primaria</td>
                            <td>2024</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>