@page "/accouting/tariffcollection"

@* Formularios POP UP *@

<!-- Multi Pagos -->
<div class="modal fade" id="multitariffmodal" tabindex="-1" aria-labelledby="multitariffmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="multitariffmodalLabel">Cobros Multiples</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-3 table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Selec</th>
                                <th>#</th>
                                <th>Fecha Vencimiento</th>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Acci칩n</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="align-middle text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <input class="form-check-input align-items-center justify-content-center" type="checkbox" value="" id="defaultCheck1">
                                    </div>
                                </th>
                                <th>1</th>
                                <th>15/01/2024</th>
                                <th>Enero</th>
                                <th>900.00</th>
                                <th><a href="/accouting/tariffcollection" class="btn btn-success btn-sm">Cobro</a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Terminar</button>
            </div>
        </div>
    </div>
</div>




@* Panel de cobros Primario *@
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Perfiles</h6>
    </div>
    <div class="card-body">
@* Panel de informacion del estudiante *@
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Informaci칩n</h6>
            </div>
            <form class="p-5">
                <div class="row">

                    <div class="col">
                        <p class="text-left">Nombre: Ezequiel Urbina Zeledon</p>
                        <p class="text-left">A침o Lectivo: 2024</p>
                        <p class="text-left">Id: 2019-0056U</p>
                    </div>

                    <div class="col">
                        <p class="text-left">Grado: Sexto A</p>
                        <p class="text-left">Tutor: Juan Gabriel</p>
                    </div>

                    <div class="col d-flex align-items-center justify-content-center">
                        <div class="card shadow mb-4 d-inline-block">
                            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                <h6 class="m-0 font-weight-bold text-primary">Descuentos</h6>
                            </div>
                            <div class="card-body p2">
                                <div class="row form-check">
                                    <div>
                                        <input class="form-check-input" type="checkbox" id="discount1">
                                        <label class="form-check-label" for="discount1">
                                            Hermanos
                                        </label>
                                    </div>

                                    <div>
                                        <input class="form-check-input" type="checkbox" id="discount2">
                                        <label class="form-check-label" for="discount2">
                                            Trabajador
                                        </label>
                                    </div>

                                    <div>
                                        <input class="form-check-input" type="checkbox" id="discount3">
                                        <label class="form-check-label" for="discount3">
                                            Otros
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
@* Botones *@
            <div class="p1">
                <div class="row">
                    <div class="col-6 text-center">
                        <a href="/accouting/tariffcollection" class="btn btn-success btn-sm">Estado de cuenta</a>
                    </div>
                    <div class="col-6 text-center ">
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#multitariffmodal">Hacer pagos multiples</button>
                    </div>
                </div>
            </div>
@* Tabla de Aranceles *@
            <div class="p-3 table-responsive ">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha Vencimiento</th>
                            <th>Concepto</th>
                            <th>Cantidad</th>
                            <th>Acci칩n</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>15/01/2024</th>
                            <th>Enero</th>
                            <th>900.00</th>
                            <th><a href="/accouting/tariffcollection" class="btn btn-success btn-sm">Cobro</a></th>
                            </tr>
                    </tbody>
                </table>
            </div>  
        </div>
    </div>
</div>




