@page "/test"

    <!-- Crear una tabla básica -->
    <table id="dataTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John</td>
                <td>30</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane</td>
                <td>25</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Smith</td>
                <td>40</td>
            </tr>
        </tbody>
    </table>

