@page "/new"

<button class="btn btn-success btn-sm" @onclick="() => NewTariff()">Nueva</button>

@if (NewTariffItem == null)
{
    <label>Modalidad</label>
}
else
{
<div class="modal fade show" tabindex="-1" style="display:block; background-color:rgba(0,0,0,0.5);" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva Tarifa</h5>
                <button type="button" class="close" aria-label="Close" @onclick="Cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form onsubmit="handleSubmit(event)">
                    <div class="form-group">
                        <label>Concepto</label>
                        <input type="text" class="form-control" @bind="NewTariffItem.Concept" />
                    </div>
                    <div class="form-group">
                        <label>Precio</label>
                        <input type="number" class="form-control" @bind="NewTariffItem.Amount"/>
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <input type="number" class="form-control" @bind="NewTariffItem.Type" />
                    </div>
                    <div class="form-group">
                        <label>Modalidad</label>
                        <input type="number" class="form-control" @bind="NewTariffItem.Modality" />
                    </div>
                    <div>
                        <h7>Vence:</h7>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" @bind="NewTariffItem.dueDate.Year" />
                        <input type="number" class="form-control" @bind="NewTariffItem.dueDate.Month" />
                        <input type="number" class="form-control" @bind="NewTariffItem.dueDate.Day" />
                    </div>

                    <a class="btn btn-success btn-sm" role="button" @onclick="() => SaveNewTariff(NewTariffItem)">Guardar</a>
                    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
}