@using wsmcbl.src.Utilities
@if (MaxDate != null)
{
    <div class="col-md-5 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <!-- Nombre del parcial -->
                        <div class="h5 font-weight-bold text-danger mb-1">
                            Tiempo para calificar
                        </div>

                        <!-- Fecha límite -->
                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                            Fecha Límite: @MaxDate.gradeRecordDeadline.ToDateTimeFormat()
                        </div>

                        <!-- Fecha límite -->
                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                            @MaxDate.label
                        </div>

                        <!-- Tiempo restante -->
                        <div class="h7 text-muted mb-2">
                            Tiempo restante: @CalculateTimeRemaining(MaxDate.gradeRecordDeadline)
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
}