@page "/secretary/schoolyears/subjects"

@inherits BaseView;
@attribute [Authorize(Roles = "admin, secretary, cashier")]

@if (IsLoading())
{
    <div class="loader"></div>
}
else
{
    <h3>Lista de asignaturas/grados</h3>
}