<!-- Faq Section -->
<section id="faq" class="faq section light-background">
    
    <div class="separador">
        <div class="container-fluid">
            <div class="row gy-4">
                <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">
                    <div class="content px-xl-5">
                        <h3><span>Preguntas </span><strong>Frecuentes</strong></h3>
                        <p>Estas son algunas de las preguntas mas frecuentes, no dudes en contactarnos si aun te quedan dudas. info@cbl-edu.com</p>
                    </div>

                    <div class="faq-container px-xl-5">
                        <details class="faq-item">
                            <summary>¿Cuales son los requisitos para matricular?</summary>
                            <div class="faq-content">
                                <ul>
                                    <li>Hoja de traslado (Original)</li>
                                    <li>Constancia de conducta (Copia)</li>
                                    <li>Partida de nacimiento (Copia)</li>
                                    <li>Cédula de los padres (Copia)</li>
                                    <li>Boletín anterior (Copia)</li>
                                </ul>
                            </div>
                        </details>
                        
                        <details class="faq-item">
                            <summary>¿Como veo mis calificaciones?</summary>
                            <div class="faq-content">
                                <p>Las calificaciones están disponibles haciendo click <a href="/online-degree/login">aquí</a>. Debes tener las credenciales a mano para poder acceder.</p>
                            </div>
                        </details>

                        <details class="faq-item">
                            <summary>¿Como obtengo mis credenciales?</summary>
                            <div class="faq-content">
                                <p>Las credenciales son entregadas en el momemento de la matricula, si por alguna razon no tines acceso 
                                    a esta información envianos un correo a <a href="mailto:soporte@cbl-edu.com">soporte@cbl-edu.com</a> o visitanos en nuestras instalaciones.</p>
                            </div>
                        </details>
                    </div>
                </div>

                <div class="col-lg-5 order-1 order-lg-2">
                    <img src="assets/img/faq.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div> 
    </div>
    
</section>
<!-- /Faq Section -->