<footer id="footer" class="footer dark-background"><div class="container footer-top">
    <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
            <a href="/home" class="logo d-flex align-items-center">
                <span class="sitename">Colegio Bautista Libertad</span>
            </a>
          
            <div class="footer-contact pt-3">
                <p>Entrada norte C.C. Managua 1 cuadra arriba 1/2 cuadra al sur.</p>
                <p>Managua, Nicaragua</p>
                <p class="mt-3"><strong>Telefono:</strong> <span>2270-5587</span></p>
                <p><strong>Correo:</strong> <span>info@cbl-edu.com</span></p>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          
        </div>
    </div>
</div>

<div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Colegio Bautista Libertad</strong> <span>Todos los derechos reservados</span></p>
    <div class="credits">
    </div>
</div>
</footer>