

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="home" class="logo d-flex align-items-center">
            <!-- <img src="img/cbl_logo.png" alt=""> -->
            <h1 class="sitename">Colegio Bautista Libertad</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="Home" class="active">Inicio</a></li>
                <li><a href="Login">WSM</a></li>
                <li><a href="Login">Next-Cloud</a></li>
                <li><a href="online-degree/login">Ver calificaciones</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>