@page "/principal"
@using wsmcbl.src.View.Components.GetDateRecordingGrade
@attribute [Authorize(Roles = "principal")]

<h1 style="text-align: center; margin-bottom: 20px">¡Bienvenido Director!</h1>

<GetDateRecordingGradeComponent/>