<!DOCTYPE html>
<html lang="en">

<head>
    <title>Colegio Bautista Libertad</title>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
