<!DOCTYPE html>
<html lang="en">

<head>
    <!--Tecnologia-->
    <link rel="stylesheet" href="wsmcbl.homepage.styles.css"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>

<!--Tecnologia-->
<script src="_framework/blazor.web.js"></script>
</body>

</html>
