@page "/dashboard"
@using wsmcbl.src.View.Components.Charts

<h1 style="text-align: center;">¡Bienvenido!</h1>

<RevenuesChart/>
<SumaryStudentChart/>

<div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
        <EducationLevesChart/>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
        <GradeChart/>
    </div>
</div>
