@page "/dashboard"
@attribute [Authorize(Roles = "admin,cashier")]
@inherits Index_razor

<h1 style="text-align: center;">¡Bienvenido!</h1>

<div class="row">
    <!-- Ingresos diarios -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Ingresos (Diario)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">C$ 40,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ingresos Mensuales -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Ingresos (Mensuales)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">C$ 215,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-piggy-bank fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cantidad de estudiantes retirados -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Estudiantes Restirados
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">17</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-alt-slash fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cantidad de estudiantes matriculados actualmente -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Matricula actual</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">689</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-astronaut fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

