@page "/not-authorized"
@layout EmptyLayout

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">¿Ups! nada que ver.</p>
        <p class="text-gray-500 mb-0">No tiene permisos para ver este recurso.</p>
        <a href="/dashboard">&larr; Volver al Inicio</a>
    </div>
</div>
