on:
  push:
    branches:
      - CollectTariff
name: Despliegue del Front in Somee.com
jobs:
  web-deploy:
    name: Desplegar a Somee.com
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v3
    
    - name : Instalar lftp
      run : sudo apt-get update && sudo apt-get install -y lftp

    - name : Instalar tree
      run : sudo apt install -y tree

    - name : Limpiar directorio remoto
      run: lftp -c "open -u cbl,Deploy.cbl.*** cbl.somee.com; rm -rf www.cbl.somee.com/"
  
    - name: Subir Archivos
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: cbl.somee.com
        username: cbl
        password: ${{ secrets.FTP_PASSWORD }}
        protocol: ftp
        local-dir: publish/
        server-dir: /www.cbl.somee.com/

